body {
    font-family: Arial, Helvetica, sans-serif;
}

.navheader {
    margin: 10px;
}

.navheader ul {
    font-size: 0.8em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}

.navheader li {
    display: inline-block;
    padding: 5px 0px;
    margin: 0px 2px;
}

.navheader a {
    color: rgb(44, 44, 44);
    text-decoration: none;
    padding: 7px 10px;
}

.navheader a:hover {
    text-decoration: underline;
}

#sign-in-button {
    font-weight: 600;
    background-color: #4285f4;
    color: white;
    padding: 7px 10px;
    border: 1px solid #4285f4;
}

#sign-in-button:active {
    background-color: #3b7adf;
}

#store {
    margin-right: auto;
}

#main-img {
    margin-top: 105px;
}

#main-img img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.material-icons {
    font-family: 'Material Icons';
    color: #9AA0A6;
    font-size: 20px;
}

#searchbox-container {
    padding: 12px 15px;
    display: flex;
    flex-flow: row wrap;
    width: 43%;
    margin: 25px auto;
    border: 1px solid #DFE1E5;
    border-radius: 30px;
}

#searchbox-container:hover {
    box-shadow: 1px 1px 5px 1px#ccc;;
}

#searchbox-container input {
    border: none;
}

#searchbox-container input:focus {
    border: none;
    outline: none;
}

#searchbox-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

#searchbox-buttons button 
{
    background-color: #F2F2F2;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: normal;
    color:rgba(53, 53, 53, 0.884);
    display: block;
    padding: 8px 15px;
    border: 1px solid transparent;
}

#searchbox-buttons button {
    background-color: #F2F2F2;
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: 300;
    color:rgba(53, 53, 53, 0.884);
    display: block;
    padding: 8px 15px;
    border: 1px solid transparent;
}

#searchbox-buttons button:hover {
    color: black;
    border: 1px solid rgb(168, 168, 168);
    box-shadow: 0px 1px 0px 0px #F2F2F2;
}

#searchbox-buttons button:focus {
    border: 1px solid #4D90FE;
}